<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="navbar-brand" href="{% url 'index' %}">Django </a></li>
          <li class="nav-item"><a class="navbar-link" href="{% url 'admin:index' %}">Admin </a></li>
          <li class="nav-item"><a class="navbar-link" href="{% url 'basicapp:register' %}">Register </a></li>

          {% if user.is_authenticated %}
            <li><a class="navbar-link" href="{% url 'logout' %}">Logout</a></li>
            <p>Hello, {{user.get_username}}</p>
          {% else %}
            <li><a class="navbar-link" href="{% url 'basicapp:user_login' %}">Login</a></li>
          {% endif %}



        </ul>
      </div>

    </nav>

    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>


  </body>
</html>
