{% extends 'basicapp/base.html' %}
{% block body_block %}

<div class="jumbotron">
  <h1>Pleas, Login</h1>
  <form action="{% url 'basicapp:user_login' %}" method="post">
    {% csrf_token %}
    <label for="username">UserName:</label>
    <input type="text" name="username" value="Enter UserName">

    <label for="passowrd">Password:</label>
    <input type="password" name="password">

    <input type="submit" name="" value="Login">
  </form>

</div>

{% endblock %}
