{% extends 'basicapp/base.html' %}
{% load staticfiles %}

{% block body_block %}

<div class="jumbotron">
  {% if registered %}
  <h1>Thanks for registering!</h1>
  {% else %}
    <h1>Register Here</h1>
    <h3>Fill out the form:</h3>
    <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <input type="submit" name="" value="Register">
    </form>
  {% endif %}

</div>

{% endblock %}
