<!DOCTYPE html>
{%load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is the index</title>
  </head>
  <body>
    <h1>This is the home page</h1>
    <h2>Welcome!</h2>

    <p>Hello, go to users to see the users.</p>
    <a href="/users">Click here!</a>
  </body>
</html>
