<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is the User Page</title>
    <link rel="stylesheet" href="{% static "css/estilo.css" %}">
  </head>
  <body>
    <h1>Welcome to the User Page</h1>
    {%if access_record %}
      <table>
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </thead>
        {% for userA in access_record %}
          <tr>
            <td>{{userA.FName}}</td>
            <td>{{userA.LName}}</td>
            <td>{{userA.Email}}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Deu Ruim</p>
    {% endif %}

    <a href="/">Click here to come back</a>

  </body>
</html>
