<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Form Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>This is the Form</h1>
        <h2>Welcome!</h2>

        <p><a href="/">Click here</a> if you want to go back to home.</p>
      </div>

      <form method="POST">
        {{form_dict.as_p}}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Go">
      </form>

    </div>
  </body>
</html>
