<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Guita Page</title>
    <link rel="stylesheet" href="{% static "css/meu_estilo.css" %}">
  </head>
  <body>
    <h1>Hello this is a picture of my ls !</h1>
    {{ insert_me }}

    <br>
    
    <img src="{% static "imagens/figura.png"%}" alt="Uh oh, didn't work">

  </body>
</html>
