<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Level Two</title>
    <link rel="stylesheet" href="{% static "css/meu_estilo.css" %}">
  </head>
  <body>
    <h1>Hi, welcome to Django level two</h1>
    <h2>Here are your access records:</h2>

    <div class="djangotwo">
      {% if access_records %}
        <table>
          <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
          </thead>
        {% for acc in access_records %}
        <tr>
          <td>{{ acc.name }}</td>
          <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
        </table>
      {% else %}
        <p>No Access found</p>
      {% endif %}

    </div>

  </body>
</html>
