<!DOCTYPE html>
{% extends "basicapp/base.html" %}
{% block body_block %}

{% load calculo_idade %}
      <h1>This is the index page</h1>
      <p> {{ texto|title }} </p>
      <p>My year of birth: {{ birth }}</p>
      <p>My age is: {{ birth|calcula_a_idade:'ok' }}</p>
      <a href="{% url 'basicapp:other' %}">This one goes to other.html</a>
{% endblock %}
