<!DOCTYPE html>
{% extends "basicapp/base.html" %}
{% block body_block %}
      <h1>This is the Other html</h1>
      <a href="{% url 'basicapp:index' %}">This one goes to basicapp/index</a>
      <br>
      <a href="{% url 'index' %}">This one goes back to real index</a>
      <br>
      <a href="{% url 'admin:index' %}">This one goes to admin page</a>
{% endblock %}
